.input-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.input-field-label-wrapper,
.input-field-validation-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  color: var(--component-text-dark);
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 143%;
  cursor: pointer;
}

.input-field-label-wrapper_disabled {
  color: var(--component-text-disabled);
  cursor: not-allowed;
}

.input-field-validation-wrapper {
  color: var(--component-text-gray);
  font-weight: 400;
}

.input-field-validation-wrapper_invalid {
  color: var(--component-text-negative);
}


.textarea-field {
  padding: 14px 14px 24px;
  border: 1px solid var(--component-stroke-dark-soft);
  background-color: var(--component-fill-light);
  color: var(--component-text-gray);
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 143%;
  field-sizing: content;
  overflow-wrap: anywhere;
  resize: none;

  &::placeholder {
    color: var(--component-text-gray);
  }

  &:focus-visible {
    outline: 1px solid var(--component-stroke-primary);
    color: var(--component-text-dark);
  }

  &:disabled {
    outline: 1px solid var(--component-stroke-disabled);
    background-color: var(--component-fill-disabled);
    color: var(--component-text-disabled);
    cursor: not-allowed;
  }
}

.textarea-field_invalid {
  outline: 1px solid var(--component-stroke-negative);
  color: var(--component-text-negative);
}
