.header {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(6px, 1.6vw, 12px) clamp(12px, 3vw, 24px);
  background-color: var(--background-fill-surface);
}

.nav-panel {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-menu-button {
  display: none;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--icon-dark);
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: var(--component-fill-primary-soft);
  }
}

@media screen and (width < 480px) {
  .header-menu-button {
    display: flex;
  }

  .nav-panel {
    display: none;
  }
}

.header-external-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
