.burger-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 18px;
  height: 18px;
}

.burger-icon-line {
  flex-shrink: 0;
  width: 100%;
  height: 2px;
  border-radius: 9999px;
  background-color: var(--icon-dark);
  transition: all 0.25s ease-in-out;
}

.burger-icon-wrapper_open {
  & .burger-icon-line:first-child {
    transform: translateY(6px) rotate(45deg);
  }

  & .burger-icon-line:nth-child(2) {
    transform: scaleX(0);
  }

  & .burger-icon-line:last-child {
    transform: translateY(-6px) rotate(-45deg);
  }
}
