.alert-stack {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: clamp(8px, 2vw, 12px);
  max-width: 350px;
  width: 100%;
}

@media screen and (width < 480px) {
  .alert-stack {
    top: 5dvh;
    inset-inline: 3vw;
    bottom: auto;
    width: auto;
    max-width: none;
  }
}
