.post-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(12px, 3vw, 16px);
  max-width: 700px;
  padding: clamp(12px, 3vw, 24px);
  border: 2px solid var(--component-stroke-dark-soft);
}

.post-card+.post-card {
  border-top: none;
}

.post-header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
}

.post-avatar {
  grid-row: 1 / 3;
}

.post-author,
.post-time,
.post-description,
.post-menu-label {
  font-family: var(--second-family);
  line-height: 150%;
}

.post-author,
.post-time,
.post-menu-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-author {
  grid-column: 2;
  grid-row: 1;
  color: var(--component-text-dark);
  font-size: 1rem;
  font-weight: 500;
}

.post-time {
  grid-column: 2;
  grid-row: 2;
  color: var(--component-text-gray);
  font-size: 1rem;
  font-weight: 400;
}

.post-description {
  margin: 0;
  color: var(--component-text-dark);
  font-size: clamp(0.875rem, 3.5vw, 1.25rem);
  font-weight: 400;
}

.post-image {
  width: 100%;
  height: clamp(150px, 40vw, 458px);
  object-fit: cover;
}

.post-menu {
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, max-content);
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.post-menu-button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover:not(:disabled) {
    background: var(--component-hover-primary-soft);
  }

  &:hover .post-menu-like-icon {
    stroke: var(--color-feedback-negative-600);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.post-menu-like-icon,
.post-menu-comment-icon {
  flex: 0 0 24px;
  stroke: var(--component-text-dark);
  transition: all 0.2s ease-in-out;
}

.chevron-icon {
  flex: 0 0 24px;
  fill: var(--component-text-dark);
  transition: all 0.2s ease-in-out;
}

.chevron-icon_open {
  transform: rotate(180deg);
}

.post-menu-label {
  font-size: clamp(0.75rem, 3vw, 1rem);
  font-weight: 500;
  color: var(--component-text-dark);
}

.post-comments-list {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 3vw, 16px);
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
