.post-card {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 3vw, 16px);
  max-width: 700px;
  padding: clamp(12px, 3vw, 24px);
  border: 2px solid var(--component-stroke-dark-soft);
}

.post-header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
}

.post-avatar {
  grid-row: 1 / 3;
}

.post-author,
.post-time,
.post-description {
  font-family: var(--second-family);
  line-height: 150%;
}

.post-author,
.post-time {
  overflow: hidden;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-author {
  grid-column: 2;
  grid-row: 1;
  color: var(--component-text-dark);
  font-weight: 500;
}

.post-time {
  grid-column: 2;
  grid-row: 2;
  color: var(--component-text-gray);
  font-weight: 400;
}

.post-description {
  margin: 0;
  color: var(--component-text-dark);
  font-size: clamp(0.875rem, 3.5vw, 1.25rem);
  font-weight: 400;
}
